/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/aktiv-grotesk-cd-trial');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Aktiv Grotesk Trial', sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
/* MEDIA RESPONSIVE */

@media screen and (min-width:41px) {
    .responsive {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .responsive nav a{
        font-size: 18px;
        margin: 15px;
        position: relative;
    }
}

@media screen and (min-width:388px){
    .responsive {
        font-size: 26px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .responsive nav a{
        font-size: 14px;
        margin: 15px;
        position: relative;
        left: 10px;
    }
}
/* --------- */
/* ANIMATIONS KEYFRAMES */
@keyframes steveAnim{
    0%{
        transform: translateY(0px) translateX(0px);
        /* transform: translateX(0px); */
    }
    100%{
        transform: translateY(10px) translateX(10px);
        /* transform: translateX(40px); */
    }
}

@keyframes popup{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeBottom {
    0%{
        opacity: 0;
        transform: translateY(15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*  */
.responsive{
    width: 100%;
    height: 100%;
}

.responsive nav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    /* justify-content: center; */
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.responsive nav a{
    position: relative;
    color: black;
    text-decoration: none;
    margin: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    bottom: 10px;
    font-size: 16px;
}

/* nav a:hover{
    color: rgb(2, 212, 2);
    transition: color 0.3s ease-in-out;
} */
nav a:hover::after{
    width: 100%;
}

nav a::after{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 3px;
    background: rgb(2, 212, 2);
    transition: width 0.2s ease-in-out;
}
/* #left {
    position: fixed;
    left: 10px;
} */
.h2home{
    position: absolute;
    top: 30%;
    left: 60px;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    animation: popup 3s ease;
}
.h1home{
    position: absolute;
    top: 35%;
    left: 60px;
    font-size: 60px;
    font-weight: bold;
    animation: popup 3s ease;
}
.buttonPlay {
    position: absolute;
    top: 48%;
    left: 60px;
    font-size: 30px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #249a4b;
    color: #d7f8ba;
    width: 350px;
    height: 60px;
    cursor: pointer;
    font-weight: bold;
    animation: fadeBottom 2s ease   ;
}

.buttonHow{
    position: absolute;
    top: 48.5%;
    left: 22%;
    font-size: 30px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #d7f8ba;
    color: #249a4b;
    width: 330px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    animation: fadeBottom 2s ease;
}

.imgLosange{
    position: relative;
    top: 150px;
    left: 40%;
    width: 650px;
    height: 600px;
    user-select: none;
    animation: steveAnim 2.5s infinite alternate;
}
.box-p2{
    position: absolute;
    background-color: black;
    top: 155%;
    width: 100%;
    height: 850px;
}
.txt-p2{
    color: black;
    position: relative;
    top: 1320px;
    user-select: none;
    letter-spacing: 2px;
    line-height: 60px;
    text-align: center;
    right: 300px;
}
#gros{
    font-size: 70px;
}
/* #fondu{
    position: absolute;
    width: 100%;
    height: 600px;
    top: 120%;
} */

.contenu{
    width: 750px;
    height: 150px;
    position: relative;
    /* background-color: red; */
    left: 60%;
}
.vertical{
    position: relative;
    border: 1px solid;
    font-size: 65px;
    color: blue;
    right: 50%;
    top: 30%;
    font-weight: bold;
}
.titleCard{
    color: rgb(255, 255, 255);
    font-family: 'Aktiv Grotesk Trial', sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 30%;
    right: 31%;
    letter-spacing: 2px;
}
.txtCard{
    position: relative;
    color: rgb(255, 255, 255);
    text-align: left;
    bottom: 27%;
    left: 17px;
    font-size: 24px;
}
.vertical2{
    position: relative;
    border: 1px solid;
    font-size: 45px;
    color: blue;
    right: 50%;
    top: 50%;
    font-weight: bold;
}
.imgForge{
    position: relative;
    right: 30%;
    bottom: 30%;
}
.buttonDl{
    width: 350px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: #249a4b;
    color: #d7f8ba;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    left: 11%;
    bottom: 40%;
}
.box-p3{
    position: absolute;
    width: 100%;
    height: 850px;
    /* background-color: rebeccapurple; */
    top:250%;
}
.title{
    position: relative;
    width: 800px;
    text-align: left;
    top: 10%;
    left: 5%;
}

.contenu2{
    width: 750px;
    height: 150px;
    position: relative;
    left: 48%;
    top: 50px;
}
.txtCard2{
    position: relative;
    text-align: left;
    bottom: 10%;
    right: 360px;
    font-size: 24px;
}
.buttonIp{
    width: 350px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: #249a4b;
    color: #d7f8ba;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    left: 15%;
    letter-spacing: 2px;
    top: 300px;
    resize: none;
}
.skin{
    position: absolute;
    width: 1200px;
    height: 700px;
    left: 55%;
    bottom: 50px;
}
#how, #play{
    z-index: 3;
}
